# Data Loading,Storage and File Formats

In [1]:
#read_csv,read_table

import pandas as pd

df = pd.read_csv("C:/Users/unnikrishnan.s/My Projects/training/pandas-refresher/tips.csv")

In [2]:
df

    total_bill     tip sex smoker  day    time  size  tip_pct
0         22.0   1.232   F     No  Sun  Dinner     2    0.056
1         21.3   3.408   M     No  Sun  Dinner     3    0.160
2         12.0   1.680   M     No  Sun  Dinner     1    0.140
3         67.0  11.390   M     No  Sun  Dinner     4    0.170
4         11.0   1.078   F     No  Sun  Dinner     3    0.098
5         22.0   2.464   M     No  Sun  Dinner     4    0.112
6         11.0   1.430   F    Yes  Sat   Lunch     2    0.130
7         34.0   4.250   M    Yes  Sat   Lunch     3    0.125
8         23.0   3.795   M    Yes  Sat   Lunch     2    0.165
9         45.0   8.415   M    Yes  Sat   Lunch     6    0.187
10        23.0   2.530   F    Yes  Sat   Lunch     3    0.110
11        98.0  22.540   M    Yes  Sat   Lunch     1    0.230
12        11.0   1.210   F    Yes  Sat   Lunch     2    0.110

In [3]:
df2 = pd.read_csv("C:/Users/unnikrishnan.s/My Projects/training/pandas-refresher/tips.csv",index_col=['time','smoker','sex'])

In [4]:
df2

                   total_bill     tip  day  size  tip_pct
time   smoker sex
Dinner No     F          22.0   1.232  Sun     2    0.056
              M          21.3   3.408  Sun     3    0.160
              M          12.0   1.680  Sun     1    0.140
              M          67.0  11.390  Sun     4    0.170
              F          11.0   1.078  Sun     3    0.098
              M          22.0   2.464  Sun     4    0.112
Lunch  Yes    F          11.0   1.430  Sat     2    0.130
              M          34.0   4.250  Sat     3    0.125
              M          23.0   3.795  Sat     2    0.165
              M          45.0   8.415  Sat     6    0.187
              F          23.0   2.530  Sat     3    0.110
              M          98.0  22.540  Sat     1    0.230
              F          11.0   1.210  Sat     2    0.110

In [5]:
df2.to_csv('lunch.csv',index=True,header=True)

In [6]:
# We can also create an iterator

import csv

f=open('lunch.csv')
reader=csv.reader(f)

for line in reader:
    print line

['time', 'smoker', 'sex', 'total_bill', 'tip', 'day', 'size', 'tip_pct']
['Dinner', 'No', 'F', '22.0', '1.232', 'Sun', '2', '0.056']
['Dinner', 'No', 'M', '21.3', '3.408', 'Sun', '3', '0.16']
['Dinner', 'No', 'M', '12.0', '1.68', 'Sun', '1', '0.14']
['Dinner', 'No', 'M', '67.0', '11.39', 'Sun', '4', '0.17']
['Dinner', 'No', 'F', '11.0', '1.078', 'Sun', '3', '0.098']
['Dinner', 'No', 'M', '22.0', '2.464', 'Sun', '4', '0.112']
['Lunch', 'Yes', 'F', '11.0', '1.43', 'Sat', '2', '0.13']
['Lunch', 'Yes', 'M', '34.0', '4.25', 'Sat', '3', '0.125']
['Lunch', 'Yes', 'M', '23.0', '3.795', 'Sat', '2', '0.165']
['Lunch', 'Yes', 'M', '45.0', '8.415', 'Sat', '6', '0.187']
['Lunch', 'Yes', 'F', '23.0', '2.53', 'Sat', '3', '0.11']
['Lunch', 'Yes', 'M', '98.0', '22.54', 'Sat', '1', '0.23']
['Lunch', 'Yes', 'F', '11.0', '1.21', 'Sat', '2', '0.11']

## Json data

In [7]:
#we use json library including json loads and json dumps
import json

obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
{"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

result = json.loads(obj)
argson = json.dumps(result)

## Web scraping

In [8]:
from lxml.html import parse
from urllib2 import urlopen

parsed = parse('http://www.thehindu.com/opinion/')

doc=parsed.getroot()

In [9]:
links=doc.findall('.//a')

In [10]:
for link in links[11:70]:
    print(link.text_content())

News
National
International
States
Cities
Opinion
Cartoon
Columns
Editorial
Interview
Lead
Readers' Editor
Comment
Open Page
Letters
Business
Agri-Business
Industry
Economy
Markets
Budget
Stock Quotes
Sport
Cricket
Football
Hockey
Tennis
Athletics
Motorsport
Races
Other Sports
Entertainment
Art
Dance
Movies
Music
Reviews
Theatre
Life & Style
Fashion
Fitness
Food
Motoring
Travel
Homes and gardens
Society
Faith
History & Culture
Books
Reviews
Authors
Sci-Tech
Science
Technology
Health
Agriculture
Environment
Gadgets
Internet

In [11]:
def unpack(url,key='td'):
    parsed = parse(url)   #parse
    doc = parsed.getroot() #get the root
    text=doc.findall(".//"+ key) #define the key to search
    return [line.text_content() for line in text]

In [12]:
unpack("http://www.sosmath.com/tables/prime/prime.html",'table')

['\r\n\r\n\r\n<!--\r\ngoogle_ad_client = "ca-pub-0120177304734599";\r\n/* top728x90 */\r\ngoogle_ad_slot = "4247478622";\r\ngoogle_ad_width = 728;\r\ngoogle_ad_height = 90;\r\n//-->\r\n\r\n\r\n\r\n\r\n\r\n<!--\r\ngoogle_ad_client = "ca-pub-0120177304734599";\r\n/* top160x90 */\r\ngoogle_ad_slot = "4107877822";\r\ngoogle_ad_width = 160;\r\ngoogle_ad_height = 90;\r\n//-->\r\n\r\n\r\n\r\n',
 '\n\n\n\n\n\n\n\n\n\n\n\n\n',
 '\n\n\n<!--\ngoogle_ad_client = "ca-pub-0120177304734599";\n/* bottomL350x200 */\ngoogle_ad_slot = "9059344227";\ngoogle_ad_width = 300;\ngoogle_ad_height = 250;\n//-->\n\n\n\n\n\n<!--\ngoogle_ad_client = "ca-pub-0120177304734599";\n/* bottomR350x200 */\ngoogle_ad_slot = "1536077426";\ngoogle_ad_width = 300;\ngoogle_ad_height = 250;\n//-->\n\n\n\n']

In [13]:
#Text parser 

from pandas.io.parsers import TextParser

parsed = parse(urlopen("https://finance.yahoo.com/gainers"))
root = parsed.getroot()

def _unpack(root,key):
    text= root.findall(".//" + key)
    return [line.text_content() for line in text]

def make_table(root):
    table = root.findall('.//tr')
    header = _unpack(table[0],'th')
    contents = _unpack(table[1:],'td')
    return header,contents

In [14]:
# Parsing xml with objectify

# objectify.parse(open(path))

# Binary data formats and HDFS

* Binary data format- using Pickle serialization using pd.load('datafile') after frame.save(datafile) as it will get loaded as binary. It is convenient for a short storage.

# Read excel using pd.ExcelFile

## Interacting with HTML and Web APIS

In [15]:
import requests

In [16]:
url = 'http://search.twitter.com/search.json?q=python%20pandas'
resp= requests.get(url)
resp

In [17]:
import json
data=json.loads(resp.text)

In [18]:
data

{u'errors': [{u'code': 64,
   u'message': u'The Twitter REST API v1 is no longer active. Please migrate to API v1.1. https://dev.twitter.com/docs/api/1.1/overview.'}]}

# interacting with databases

In [21]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER
);"""

conn=sqlite3.connect(":memory:")
conn.execute(query)
conn.commit()